@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Montserrat", serif;
  color: white;
}

.text-body {
  font-family: "Montserrat", serif;
}

.text-title {
  font-family: "Bebas Neue", cursive;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", cursive;
}

p {
  @apply mb-4;
}

a {
  @apply rounded-sm hover:text-sky-400 hover:underline;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
